@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ADLaM Display';
    src: url('/fonts/ADLaMDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .adlam-font {
    font-family: 'ADLaM Display', sans-serif;
  }

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 0px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: -4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #bab8b8 #f1f1f1; /* thumb and track color */
}

/* Pop-Up Animation */
@keyframes popUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-up {
  animation: popUp 0.5s ease-out forwards; /* Pop-up effect */
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing-animation {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Keep text on one line */
  animation: typing 2s steps(30, end); /* Typing effect */
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* Start invisible */
  animation: fadeIn 0.7s ease-in forwards; /* Fade-in effect */
}

.invisible {
  opacity: 0; /* Hide elements initially */
}

