@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ADLaM Display';
    src: url('/fonts/ADLaMDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .adlam-font {
    font-family: 'ADLaM Display', sans-serif;
  }
  
